# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# IDE/editor
.vscode/
.idea/

# SQLite DB and instance folder
instance/
*.db
*.db-shm
*.db-wal

# OS files
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.*
